@use "../../../../styles/variables" as *;



.PrimaryBtn {
    padding: 0.2rem 1rem;
    border: thin solid;
    background-color: white;
    cursor: pointer;
    border-radius: $border-radius;
    &:hover {
        background-color: navy;
        color: white;
        transition: all 0.3s ease;
    }
}

.SecondaryBtn {
    padding: 0.2rem 1rem;
    border: thin solid;
    background-color: white;
    cursor: pointer;
    color: red;
    border-radius: $border-radius;
    &:hover {
        background-color: red;
        color: white;
        transition: all 0.3s ease;
    }
}