@use "../../../styles/mixin" as *;

.LoginTitle {
    font-size: 2rem;
}

.LoginBox {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    min-width: 70%;
}

.LoginForm {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    min-width: 100%;
}

.Input {
    padding: 0.5rem 1rem;
    min-width: 50%;
}

.BtnContainer {
    @include FlexBox;
}

.LoginBtn {
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
}


.Redirect {
    color: navy;
    cursor: pointer;
    &:hover{
        color: blue;
    }
}

.ValidationFloat {
    position: relative;
}