@use "../../../styles/mixin" as *;

.CustomerDashboard {
    @include FlexBox;
    justify-content: space-evenly;
    flex-direction: column;
}

.ProblemsBox {
    background-color: burlywood;

}


.CreateEnquiryBtn {
    padding: 0.7rem 1.5rem;
}

.Header {
    @include FlexBox;
    justify-content: space-evenly;
    min-width: 100%;
}