@use "../../../styles/mixin" as *;
@use "../../../styles/variables" as *;

.CustomerDashboard {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr 2fr;
}

.ProblemsBoxContainer h2{
    text-align: center;
    @include FlexBox;
}

.ProblemsBox {
    padding: 1rem;
    @include FlexBox;
    justify-content: start;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
}

.CreateEnquiryBtn {
    padding: 0.7rem 1.5rem;
}

.Job {
    background-color: white;
    min-width: 100%;
    padding: 1rem;
    border: thin solid gray;
    cursor: pointer;
    list-style: none;
    border-radius: $border-radius;
    &:hover {
        border: none;
        box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.781);
    }
}

.Header {
    @include FlexBox;
    justify-content: space-evenly;
    min-width: 100%;
    padding: 1rem;
}