@use "../../../styles/mixin" as *;

.RegisterBox {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    border: thin solid;
    padding: 1rem;
}

.Redirect {
    cursor: pointer;
    color: navy;
    &:hover {
        color: rgb(0, 85, 197)
    }
}

.RegisterForm {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    min-width: 100%;
}

.Input {
    padding: 0.5rem 1rem;
    min-width: 50%;
}

.RegisterBtn {
    padding: 0.4rem 1.2rem;
}

.Invalid {
    color: red;
}

.Valid {
    color: green;
}

.ValidationFloat {
    position: relative;
}