@use "../../../styles/mixin" as *;

.LandingScreen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.ImageContainer {
    background: url('login.JPG');
    background-size: cover;
}


.LoginContainer {
    @include FlexBox;
    min-width: 50%;
}

