@use "../../../styles/mixin" as *;

.LandingScreen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.ImageContainer {
    background: url('login.JPG');
    background-size: cover;
}

.Input {
    padding: 0.5rem 1rem;
    min-width: 50%;
}

.LoginContainer {
    @include FlexBox;
    min-width: 50%;
}

.LoginTitle {
    font-size: 2rem;
}

.LoginBox {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    min-width: 70%;
}

.LoginForm {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    min-width: 100%;
}

.BtnContainer {
    @include FlexBox;

}

.LoginBtn {
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
}